@using GYmobile.Components.Common
@inherits LayoutComponentBase

<div class="page">
    <!-- Боковая панель (скрыта на мобильных устройствах) -->
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <!-- Основной контент -->
    <main>
        <article class="content px-4">
            @Body
        </article>
        

    </main>

    <!-- Нижняя панель навигации -->
    <BottomNav />
</div>
