@using Blazored.LocalStorage
@using System.Security.Claims
@using Newtonsoft.Json

@inject CommonService CommonService
@inject AuthService AuthService
@inject ILocalStorageService LocalStorage

<nav class="bottom-nav">
    <div class="nav-item" @onclick="NavigateToHome">
        <span class="nav-icon">🏠</span>
        <span class="nav-text">Главная</span>
    </div>
    <div class="nav-item" @onclick="NavigateToChat">
        <span class="nav-icon">💬</span>
        <span class="nav-text">Чат</span>
    </div>
    <div class="nav-item" @onclick="NavigateToProfile">
        <span class="nav-icon">👤</span>
        <span class="nav-text">Профиль</span>
    </div>
</nav>

@code {
    [Inject] private NavigationManager NavManager { get; set; }
    private string userRole = string.Empty;

    private void NavigateToHome()
    {
        NavManager.NavigateTo("/");
    }

    private async Task NavigateToChat()
    {
        var token = await LocalStorage.GetItemAsync<string>("token");
        if (string.IsNullOrEmpty(token))
        {
            NavManager.NavigateTo("login");
        }
        userRole = await AuthService.GetUserRoleAsync();
        if (userRole == "Landlord")
        {
            NavManager.NavigateTo("/client_records");
        }
        else
        {
            NavManager.NavigateTo("/rented-halls");
        }        
    }

    private void NavigateToProfile()
    {
        NavManager.NavigateTo("/profile");
    }
}