@page "/RegisterConfirmation"

<PageTitle>Подтверждение регистрации</PageTitle>

<div class="main-content">
    <div class="auth-container">
        <h1>Подтверждение регистрации</h1>

        <div class="alert alert-success">
            Регистрация прошла успешно. Пожалуйста, проверьте вашу почту для подтверждения аккаунта.
        </div>

        <div class="mt-3">
            <a href="/" class="btn-reg btn-reg-primary">На главную</a>
        </div>
    </div>
</div>