@inject AuthService AuthService

<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/account/manage" Match="NavLinkMatch.All">
            Профиль
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/account/manage/changepassword">
            Пароль
        </NavLink>
    </li>
</ul>
