@inherits LayoutComponentBase
@layout GYmobile.Components.Layout.MainLayout

<div class="main-content">
    <div class="manage-account-container">
        <h1>Управление аккаунтом</h1>
    
        <div class="manage-content">
            <div class="manage-nav">
                <ManageNavMenu />
            </div>
        
            <div class="manage-main">
                @Body
            </div>
        </div>
    </div>
</div>

